{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Ваш пароль был успешно изменен!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Ваш пароль был успешно изменен!" %}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Ваш пароль был успешно изменен!" %}</p>

<p>{% trans "Спасибо за использование нашего сайта!" %}</p>

<p>{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
